{% assign date = include.start_date %}
{% assign comment_date = include.comment_date %}
<blockquote class="info">
{% expandable title="Forum Posting Instructions" level="2" id="forum-instructions" %}
<!-- <h3>Readings</h3> -->
<p>
    Please complete the following assigned readings / videos:
</p>
{% assign lecture = site.lectures | where: "num", page.lecture_num | where: "type", "lecture" | first %}
{% include page_readings.html page=lecture date=page.start_date %}


<!-- <h3>Posting</h3> -->
When you're done:
<ul>
    <li>Post to the forum <strong>before class on {{ date | date: '%A, %m/%d' }}</strong> by responding to the discussion prompts (below).
        Shoot for 400 words.</li>
    <li>Then, before midnight on <strong>{{ comment_date | date: '%A, %m/%d' }}</strong>, respond to two of your classmates'
        posts.
    </li>
</ul>
{% endexpandable %}
</blockquote>