<style>
    .info .expandable-section {
        margin: 0;
    }
</style>

{:.info}
<blockquote class="info">
{% expandable title="Post-Helene Updates" id="helene-updates" %}
<p>
    Welcome back! Due to the time lost because of Helene,
    the following schedule adjustments have been made:
</p>
<ol>
    <li>
        <strong>Homework 2 cancelled:</strong> In leiu of the second paper (a socio-political analysis of an
        AI-powered technology), the final project as been adapted to ensure that you're examining the politics of
        AI. The scope of your final project will be posted soon.
    </li>
    <li>
        <strong>Grading weights for the course have been changed as follows:</strong>
        <ul>
            <li>40% - Participation (used to be 30%)
                <ul class="compact">
                    <li>10% - Identity Journals</li>
                    <li>15% - Discussion Forum</li>
                    <li>15% - Lecture Participation</li>
                </ul>
            </li>
            <li>30% - Homework (used to be 40%)
                <ul class="compact">
                    <li>20% - Homework 1 (Ethics & the News)</li>
                    <li>10% - Labs 1 & 2 (Computer Architecture & Machine Learning)</li>
                </ul>
            </li>
            <li>
                30% - Final Project
            </li>
        </ul>
    </li>
    <li>
        <strong>Content changes</strong>: Some of the topics have either been removed or consolidated (e.g. AI &
        healthcare, surveillance, and the in-class design workshops).
    </li>
    <li>
        <strong>The course materials</strong> have been reformatted
        to be more conducive to remote learning.
    </li>
    <li>
        <strong>Asynchronous participation</strong>:
        If you are unable to attend lecture, you will submit the
        answers to the lecture discussion questions to earn your lecture participation grade.
    </li>
</ol>
{% endexpandable %}
</blockquote>