<nav>
    <ul>
        <li {% if page.url=="/syllabus/" %}class="active" {% endif %}><a href="{{site.baseurl}}/syllabus/">Syllabus</a>
        </li>
        <li {% if page.url=="/" or page.url contains "/schedule/" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/">Schedule</a></li>
        <li {% if page.url contains "/assignments/" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/assignments/">Assignments</a></li>
        <li><a href="https://drive.google.com/drive/folders/1KqbTO4H8-5Lov2TJLJsbW_0wMjzWMUny?usp=sharing"
                target="_blank">Videos</a></li>
    </ul>
</nav>