{% assign readings = page.readings | filter_list_by_date: date %}
{% assign readings_pick_one = readings | where_exp:"item", "item.pick_one == 1" %}
{% assign readings_not_pick_one = readings | where_exp:"item", "item.pick_one != 1" %}

{{ page.reading_instructions}}
{% if readings_not_pick_one.size > 0 %}
<ul>
    {% for reading in readings_not_pick_one %}
    <li>{{ reading | display_link_or_badge: true, false, true }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if readings_pick_one.size > 0 %}
<p>Pick One:</p>
<ul>
    {% for reading in readings_pick_one %}
    <li>{{ reading | display_link_or_badge: true, false, true }}
    </li>
    {% endfor %}
</ul>
{% endif %}