{% assign page = include.page %}
{% assign date = include.date %}

<!-- Slides -->
<strong>In-Class Activities</strong> (during class):
{% assign slides = page.slides | filter_list_by_date: date %}
{% for slide in slides %}
{{ slide | display_link_or_badge: false, true }}
{% endfor %}

<!-- Videos -->
{% assign videos = page.videos | filter_list_by_date: date %}
{% for video in videos %}
{{ video | display_link_or_badge: false, true }}
{% endfor %}

<!-- Activities -->
{% assign activities_old_style = page.activities | filter_list_by_date: date %}
{% assign activities_new_style = page | get_activities_by_module_by_date: site, date %}
{% assign activities = activities_old_style | concat: activities_new_style %}
{% for activity in activities %}
{{ activity | display_link_or_badge: false, true }}
{% if activity.num >= 6 %}
<ul>
    <li>
        In lieu of attending class, you can complete and
        submit Activity {{activity.num}} to the
        Moodle as your participation grade.
    </li>
</ul>
{% endif %}
{% endfor %}

<!-- Discussions & Journals -->
{% assign discussions = page | get_discussions_by_module_by_date: site, date %}
{% assign journals = page | get_journals_by_module_by_date: site, date %}
{% assign homework = page | get_homework_by_module_by_date: site, date %}
{% assign projects = page | get_projects_by_module_by_date: site, date %}


{% assign discussion_count = discussions | size %}
{% assign journal_count = journals | size %}
{% assign homework_count = homework | size %}
{% assign project_count = projects | size %}
{% assign total = discussion_count | plus: journal_count | plus: homework_count | plus: project_count %}
{% if total > 0 %}
<strong style="margin-top:20px;display: block;">Homework:</strong>
{% for discussion in discussions %}
{{ discussion | display_link_or_badge: false, true }}
<ul>
    <li>
        Post due before class on {{discussion.start_date | date: '%a, %-m/%-d'}}.
    </li>
    <li>
        Two peer responses due at midnight on {{ discussion.comment_date | date: '%a, %-m/%-d' }}.
    </li>
</ul>
{% endfor %}

<!-- Journals -->
{% for journal in journals %}
{{ journal | display_link_or_badge: false, true }}
{% endfor %}

<!-- Homework -->
{% for hw in homework %}
{{ hw | display_link_or_badge: false, true }}
{% endfor %}

<!-- Projects -->
{% for project in projects %}
{{ project | display_link_or_badge: false, true }}
{% endfor %}
{% endif %}